# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Downloaded files (MP3s, images, etc.)
downloads/
.cache/

# System files
Thumbs.db
desktop.ini

# IDE specific files
.vscode/